<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
      <!-- got this code from: https://solvaholic.github.io/reimagined-fortnight/ -->
      <a href="/zalf-ar-documentation/about" rel="author"> About </a><br>
      <a href="/zalf-ar-documentation/documentation" rel="author"> Documentation </a><br>
      <a href="/zalf-ar-documentation/demo" rel="author"> Demo </a><br>
      <a href="/zalf-ar-documentation/building" rel="author"> Building </a><br>
   </ul>
</div>
